form#dcr-form {
	margin: 15px;
	padding: 0px 0px 20px;
}
form#dcr-form label {
	font-weight: bold;
	display: block;
}
form#dcr-form input {
	width: 450px;
	padding: 5px;
	font-size: 1.25em;
	text-align: center;
	font-family: monospace;
}
form#dcr-form button {
	display: block;
	padding: 5px 10px;
	cursor: pointer;
}